<% if @user.admin? %>
    <h2> Admin Page</h2>
<% end %>
  <div>
    <h3>
      <%= @user.name %>
    </h3>
  </div>
  <div>
    <h3>
      <%= @user.email %>
    </h3>
  </div>
    <table class="table-bordered">
      <tr>
        <th>Application Name</th>
        <th>Apikey</th>
        <th>User</th>
        <th></th>
      </tr>
      <% if @apps.any? %>
        <% @apps.each do |app| %>
          <tr>
            <td><%= app.name %></td>
            <td><%= app.apikey %></td>
            <td><%= app.user.name %></td>
            <td><%= link_to "Delete application", app,
                            method: :delete,
                            data: {confirm: "Do you want to delete the application"}%></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <%= link_to "Back", home_path, class: "btn btn-primary" %>
