
<% if logged_in? %>
  <h1>Your applications</h1>

    <li><%= link_to "Create application", new_app_path, :class => 'btn btn-primary-outline' %></li>
    <% if @user.admin? %>  <li><%= link_to "All applications", currentdev_user, :class => 'btn btn-primary-outline' %></li>
      <% else %>
        <li><%= link_to "Your applications", currentdev_user, :class => 'btn btn-primary-outline' %></li>
    <% end %>
  <% else %>
    <h1>Welcome to the Registration application</h1>
    <li> <%= link_to "Sign in", login_path, :class => 'btn btn-primary btn-lg' %></li>
    <li> <%= link_to "Sign up", new_user_path, :class => 'btn btn-primary btn-lg' %></li>
<% end %>
